


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#range-cont{
  position: relative;
  border-radius: 10px;
  height: 300px;
  background: lightblue;
  display:block;
  padding: 15px

}
.input-range__label--max {
  display: none;
  padding-right: 10px;
}

.input-range__label--min {
  padding-left: 10px;
  display: none;

}


.input-range{
  margin-top: 6px;
  margin-bottom: 6px
}

.input-range__label-container{
    margin-left: 15px;
    margin-right: 15px;
    background: grey;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 0 0 1pt 1pt black;
    border-radius: 8px;
}

#slider-label{
  box-shadow: 0 0 0 1pt black;
  text-align: center;
  background: white;
  border-radius: 10px;

  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.753);
  width: 150px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#nav_buttons , #select_container{
  display: inline-block;
  margin: auto;
  width: 100%
}

#on-color{
  margin-left: 27px;
  margin-right: 10px
}

#slider-on-label{
  margin-left:25px;
  padding-left: 9px;
  float:left
}

#login-cont{
  margin-top: 20px;
  position: relative;
  display: inline-block;
  right: 79px

}

#slider-off-label{
  padding-left: 28px;
}

#nav_buttons{
  flex: 0 0 60%;
  text-align: right;
}

#select_container{
  flex: 1;
  text-align: right;
}

#canvas{
  display: block;
  margin: auto
}

#game_board{
  flex: 1;
  display: flex;
  justify-content: center;
}

body{
  display: flex;
  justify-content: center;

}

#select_button{
  flex: 1;
  background-color: #4CAF50;
  color: white;
  border-radius: 15px;
  border: none
}

.carousel_caption{
  color:black
}
a, #select_button{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.carousel-inner img {
  max-width: 100%;
  margin: auto;
}

#container{
  width: 100px;
	height: 100px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}

#buttons_container{
  display: flex
}

a:hover, #select_button:hover {
  transition-duration: 1s;
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #4CAF50;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: black;
}

.round {
  margin: auto;
  border-radius: 50%;
}

.App-container{
  width: 100vw;
  height: 100vh;
}

#canvas_cont {
  width: 300px;
  margin: auto;
  width: 0%;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
